/*
* Vintage Wine for jPlayer V1.0
* Copyright (c) 2013 PStevenson (www.p-stevenson.com)
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

div.jp-audio,
div.jp-video {
    color: #555;
    display: block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    height: auto;
    line-height: 12px;
		
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

div.jp-audio ul, div.jp-video ul,
div.jp-audio ul li, div.jp-video ul li {
    display: block;
    margin: 0;
    padding: 0;
}

div.jp-video-play a.jp-video-play-icon { display: none !important; }

/* CONTROLS */

div.jp-interface {
    overflow: visible;
    position: relative;
    z-index: 1;
}

div.jp-interface ul,
div.jp-interface ul li {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

div.jp-interface ul.jp-controls {
    -moz-box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    background-color: #fefefe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#babec4));
    background-image: -webkit-linear-gradient(top, #fefefe, #babec4);
	
    background-image: -moz-linear-gradient(top, #fefefe, #babec4);
    background-image: -o-linear-gradient(top, #fefefe, #babec4);
    background-image: -ms-linear-gradient(top, #fefefe, #babec4);
    background-image: linear-gradient(top, #fefefe, #babec4);
    border: 1px solid #babec4;
    box-shadow: inset 0 1px 0 0 #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#fefefe', EndColorStr='#babec4');
    height: 35px;
	
    list-style: none;
    margin: 0;
    overflow: hidden;
	
    padding: 0;
	
    position: relative;
    width: auto;
}

div.jp-interface ul.jp-controls a,
div.jp-interface ul.jp-toggles a {
    background: transparent url(sprites.png) no-repeat -500px -500px;
    display: block;
	
    overflow: hidden;
    text-indent: -9999px;
}

/* BUTTONS */

div.jp-interface ul.jp-controls a.jp-play,
div.jp-interface ul.jp-controls a.jp-pause {
    background-position: 13px 12px;
    border-right: 1px solid #BABEC4;
    height: 35px;
    left: 0;
    position: absolute;
	
    top: 0;
    width: 34px;
}

div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-play,
div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-pause { left: 50px; }

div.jp-interface ul.jp-controls a.jp-play:hover { background-position: -37px 12px; }

div.jp-interface ul.jp-controls a.jp-pause {
    background-color: #EEE;
    background-position: 13px -38px;
}

div.jp-interface ul.jp-controls a.jp-pause:hover { background-position: -37px -38px; }

div.jp-interface ul.jp-controls a.jp-stop { display: none !important; }

div.jp-interface ul.jp-controls a.jp-previous {
    background-position: 8px -86px;
    height: 35px;
    left: 0px;
    position: absolute;
    top: 0;
	
    width: 25px;
}

div.jp-interface ul.jp-controls a.jp-previous:hover { background-position: -42px -86px; }

div.jp-interface ul.jp-controls a.jp-next {
    background-position: 5px -137px;
    border-right: 1px solid #BABEC4;
    height: 35px;
    left: 25px;
    position: absolute;
	
    top: 0;
    width: 24px;
}

div.jp-interface ul.jp-controls a.jp-next:hover { background-position: -45px -137px; }

div.jp-interface ul.jp-controls a.jp-mute,
div.jp-interface ul.jp-controls a.jp-unmute {
    background-position: 13px -189px;
    border-left: 1px solid #BABEC4;
    height: 35px;
    position: absolute;
    right: 60px;
	
    top: 0;
    width: 34px;
}

div.jp-interface ul.jp-controls a.jp-mute:hover { background-position: -37px -189px; }

div.jp-interface ul.jp-controls a.jp-unmute {
    background-position: 13px -392px;
    display: none;
}

div.jp-interface ul.jp-controls a.jp-unmute:hover { background-position: -37px -392px; }

div.jp-interface ul.jp-controls a.jp-volume-max { display: none !important; }

div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-mute,
div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-unmute { right: 95px; }

div.jp-video div.jp-interface ul.jp-controls a.jp-mute,
div.jp-video div.jp-interface ul.jp-controls a.jp-unmute { right: 95px; }

div.jp-video div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-mute,
div.jp-video div.jp-type-playlist div.jp-interface ul.jp-controls a.jp-unmute { right: 130px; }

div.jp-interface div.jp-current-time {
    color: #DDD;
    font-size: 10px;
    height: 25px;
    left: 0;
    line-height: 25px;
    overflow: hidden;
	
    position: absolute;
    text-align: right;
    top: 37px;
    width: 50px;
	
    z-index: 1;
}

div.jp-type-playlist div.jp-interface div.jp-current-time {
    color: #333;
    height: 17px;
    left: 95px;
	
    line-height: 17px;
    text-align: left;
    top: 21px;
}

div.jp-interface div.jp-duration {
    color: #DDD;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    position: absolute;
	
    right: 0;
    text-align: left;
    top: 37px;
    width: 50px;
	
    z-index: 1;
}

div.jp-type-playlist div.jp-interface div.jp-duration {
    color: #333;
    height: 17px;
    line-height: 17px;
	
    right: 140px;
    text-align: right;
    top: 21px;
}

div.jp-video div.jp-type-playlist div.jp-interface div.jp-duration { right: 175px; }

div.jp-interface ul.jp-toggles a.jp-repeat,
div.jp-interface ul.jp-toggles a.jp-repeat-off { display: none !important; }

div.jp-interface ul.jp-toggles a.jp-shuffle,
div.jp-interface ul.jp-toggles a.jp-shuffle-off {
    background-position: 10px -339px;
    border-left: 1px solid #BABEC4;
    height: 35px;
    position: absolute;
    right: 1px;
	
    top: 1px;
    width: 34px;
}

div.jp-interface ul.jp-toggles a.jp-shuffle:hover,
div.jp-interface ul.jp-toggles a.jp-shuffle-off:hover { background-position: -38px -339px; }

div.jp-interface ul.jp-toggles a.jp-shuffle-off { background-color: #EEE; }

div.jp-video div.jp-type-playlist div.jp-interface ul.jp-toggles a.jp-shuffle,
div.jp-video div.jp-type-playlist div.jp-interface ul.jp-toggles a.jp-shuffle-off { right: 36px; }

div.jp-interface ul.jp-toggles a.jp-full-screen,
div.jp-interface ul.jp-toggles a.jp-restore-screen {
    background-position: 12px -238px;
    border-left: 1px solid #BABEC4;
    height: 35px;
    position: absolute;
    right: 1px;
	
    top: 1px;
    width: 34px;
}

div.jp-interface ul.jp-toggles a.jp-full-screen:hover { background-position: -38px -238px; }

div.jp-interface ul.jp-toggles a.jp-restore-screen { background-position: 12px -289px; }

div.jp-interface ul.jp-toggles a.jp-restore-screen:hover { background-position: -38px -289px; }

/* FULLSCREN POSITIONING */

div.jp-video-full {
    position: static !important;
    position: relative
}

div.jp-video-full div div { z-index: 1000 }

div.jp-video-full div.jp-jplayer {
    background: #000;
    left: 0;
    overflow: hidden;
    position: fixed !important;
    position: relative;
    top: 0;
}

div.jp-video-full div.jp-gui {
    bottom: 0;
    height: auto;
    left: 0;
    position: fixed !important;
    position: static;
    width: 100%;
    z-index: 1001
}

div.jp-video-full div.jp-interface {
    bottom: 0;
    left: 0;
    position: absolute !important;
    position: relative;
    right: 0;
    width: 100%
}

div.jp-video-full div.jp-interface div.jp-duration,
div.jp-video-full div.jp-interface div.jp-current-time { z-index: 1001; }

/* VOLUME BAR */

div.jp-volume-bar {
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background: #c9cdd1;
    background: -moz-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9cdd1), color-stop(100%, #d8dbde));
	
    background: -webkit-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: -o-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: -ms-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: linear-gradient(to bottom, #c9cdd1 0%, #d8dbde 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9cdd1', endColorstr='#d8dbde', GradientType=0);
    height: 8px;
	
    overflow: hidden;
    position: absolute;
    right: 10px;
		
    top: 15px;
    width: 50px;
}

div.jp-type-playlist div.jp-volume-bar { right: 45px; }

div.jp-video div.jp-type-playlist div.jp-volume-bar { right: 80px; }

div.jp-video div.jp-volume-bar { right: 45px; }

div.jp-volume-bar-value {
    background: #9f0149;
    background: -moz-linear-gradient(top, #9f0149 0, #520e17 100%);
	
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9f0149), color-stop(100%, #520e17));
    background: -webkit-linear-gradient(top, #9f0149 0, #520e17 100%);
    background: -o-linear-gradient(top, #9f0149 0, #520e17 100%);
    background: -ms-linear-gradient(top, #9f0149 0, #520e17 100%);
    background: linear-gradient(to bottom, #9f0149 0, #520e17 100%);
    border: 1px solid #6d0019;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f0149', endColorstr='#520e17', GradientType=0);
    height: 6px;
	
    width: 0px;
}

/* PROGRESS BAR */

div.jp-progress {
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    background: #c9cdd1;
    background: -moz-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c9cdd1), color-stop(100%, #d8dbde));
    background: -webkit-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: -o-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
	
    background: -ms-linear-gradient(top, #c9cdd1 0%, #d8dbde 100%);
    background: linear-gradient(to bottom, #c9cdd1 0%, #d8dbde 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9cdd1', endColorstr='#d8dbde', GradientType=0);
    height: 8px;
    left: 45px;
    overflow: hidden;
	
    position: absolute;
    right: 105px;
    top: 15px;
		
    width: auto;
    z-index: 2;
}

div.jp-type-playlist div.jp-progress {
    left: 95px;
    right: 140px;
}

div.jp-video div.jp-progress { right: 140px; }

div.jp-video div.jp-type-playlist div.jp-progress { right: 175px; }

div.jp-seek-bar {
    height: 8px;
    margin: 0;
    padding: 0;
}

div.jp-seek-bar.jp-seeking-bg { background: none; }

div.jp-play-bar {
    background: #9f0149;
    background: -moz-linear-gradient(top, #9f0149 0, #520e17 100%);
	
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9f0149), color-stop(100%, #520e17));
    background: -webkit-linear-gradient(top, #9f0149 0, #520e17 100%);
    background: -o-linear-gradient(top, #9f0149 0, #520e17 100%);
    background: -ms-linear-gradient(top, #9f0149 0, #520e17 100%);
    background: linear-gradient(to bottom, #9f0149 0, #520e17 100%);
    border: 1px solid #6d0019;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f0149', endColorstr='#520e17', GradientType=0);
    height: 6px;
	
    width: 0px;
}

/* TITLE */

div.jp-title {
    background: #333;
    color: #FFF;
    height: 25px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: auto;
	
    z-index: 0;
}

div.jp-title ul,
div.jp-playlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.jp-audio div.jp-title li,
div.jp-video div.jp-title li {
    height: 25px;
    left: 60px;
    line-height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
	
    right: 60px;
    text-align: center;
    width: auto;
}

/* PLAYLIST */

div.jp-playlist li {
    margin: 0;
    padding: 0;
}

div.jp-playlist li div {
    background: #808080;
    background: -moz-linear-gradient(top, #808080 0%, #797979 50%, #717171 51%, #7b7b7b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #808080), color-stop(50%, #797979), color-stop(51%, #717171), color-stop(100%, #7b7b7b));
    background: -webkit-linear-gradient(top, #808080 0%, #797979 50%, #717171 51%, #7b7b7b 100%);
    background: -o-linear-gradient(top, #808080 0%, #797979 50%, #717171 51%, #7b7b7b 100%);
    background: -ms-linear-gradient(top, #808080 0%, #797979 50%, #717171 51%, #7b7b7b 100%);
    background: linear-gradient(to bottom, #808080 0%, #797979 50%, #717171 51%, #7b7b7b 100%);
	
    border-bottom: 1px solid #555;
    border-left: 1px solid #999;
    border-right: 1px solid #555;
    border-top: 1px solid #999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#7b7b7b', GradientType=0);
    line-height: 21px;
    margin: 0;
    padding: 0;
	
    *zoom: 1;
}

div.jp-playlist li.jp-playlist-current div {
    background: #e6e6e6;
    background: -moz-linear-gradient(top, #e6e6e6 0%, #d9d9d9 50%, #cbcbcb 51%, #dddddd 100%);
	
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(50%, #d9d9d9), color-stop(51%, #cbcbcb), color-stop(100%, #dddddd));
    background: -webkit-linear-gradient(top, #e6e6e6 0%, #d9d9d9 50%, #cbcbcb 51%, #dddddd 100%);
    background: -o-linear-gradient(top, #e6e6e6 0%, #d9d9d9 50%, #cbcbcb 51%, #dddddd 100%);
    background: -ms-linear-gradient(top, #e6e6e6 0%, #d9d9d9 50%, #cbcbcb 51%, #dddddd 100%);
    background: linear-gradient(to bottom, #e6e6e6 0%, #d9d9d9 50%, #cbcbcb 51%, #dddddd 100%);
    border-left: 1px solid #EEE;
    border-top: 1px solid #EEE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#dddddd', GradientType=0);
}

div.jp-type-playlist div.jp-playlist a {
    color: #CCC;
    display: inline-block;
    *display: inline;
    margin: 0;
    padding: 6px 12px;
    text-decoration: none;
    *zoom: 1;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
    color: #9F0149;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(225, 255, 255, 0.25);
}

div.jp-type-playlist div.jp-playlist span.jp-artist {
    color: #333;
    font-size: 10px;
    font-weight: normal;
}

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove { display: none !important; }

div.jp-type-playlist div.jp-playlist span.jp-free-media {
    float: right;
    margin: 0 10px;
    padding: 0;
}

div.jp-type-playlist div.jp-playlist span.jp-free-media a {
    color: #9F0149;
    padding: 6px 4px;
}

div.jp-type-playlist div.jp-playlist span.jp-free-media a { text-decoration: underline; }

/* FLASH FIXES */

div.jp-video div.jp-jplayer object {
    height: 300px !important;
    position: relative;
    width: 100% !important;
}

div.jp-video.jp-video-full div.jp-jplayer object {
    height: 100% !important;
    width: 100% !important;
}