﻿
@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewBag.Title = "Emotes";
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js")
    @Scripts.Render("~/signalr/hubs")

    <script type="text/javascript">
        $(document)
            .ready(function () {
                var eh = $.connection.emoteHub;
                eh.client.emoteAppeared = showEmote;
                $.connection.hub.start();
            });

        function randomCoord(maxValue) {
            return Math.floor(Math.random() * maxValue);
        }

        function showEmote(emoteId) {
            var x = randomCoord(1920);
            var y = randomCoord(1080);

            var img = $("<img src='/Content/emotes/" + emoteId + ".png'>").hide();
            img.css({ "top": y + "px", "left": x + "px", "position": "absolute" });

            $("#emoteCanvas").append(img);
            img.fadeIn();

            window.setTimeout(function() { img.fadeOut(500, function() { img.remove(); }); }, 2000);
        }
    </script>

    <style type="text/css">
        body {
            background-color: rgba(0, 0, 0, 0);
            width: 1920px;
            height: 1080px;
        }
    </style>
}

    <div id="emoteCanvas"></div>
