﻿@{
    ViewBag.Title = "Ash <3";
}

@section Styles {
    @Styles.Render("~/Content/cssSongList")
}

@section Scripts {
    @Scripts.Render("~/bundles/jsSongRequest")
    @Scripts.Render("~/signalr/hubs")
}

<div class="main_content_container">
    <div id="playback_container" class="playback_container">
        <div id="youtube_player" class="media_player">
            <div id="youtube_player_PH"></div>
        </div>
        <div id="soundcloud_player" class="media_player jp-video">
            <div id="soundcloud_player_PH" class="jp-jplayer"></div>
            <div class="jp-gui">
                <div class="jp-interface">
                    <div class="jp-controls-holder">
                        <ul class="jp-controls">
                            <li>
                                <a href="javascript:;" class="jp-play" tabindex="1">play</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-pause" tabindex="1">pause</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-stop" tabindex="1">stop</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a>
                            </li>
                        </ul>
                        <div class="jp-volume-bar">
                            <div class="jp-volume-bar-value"></div>
                        </div>
                        <ul class="jp-toggles">
                            <li>
                                <a href="javascript:;" class="jp-full-screen" tabindex="1" title="full screen">full screen</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-restore-screen" tabindex="1" title="restore screen">restore screen</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a>
                            </li>
                        </ul>
                    </div>
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <div class="jp-current-time"></div>
                    <div class="jp-duration"></div>
                    <div class="jp-title">
                        <ul>
                            <li id="scSongTitle">Drop dat datashBlaze</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="vimeo_player" class="media_player">
            <iframe id="vimeo_player_PH" width="640" height="390"></iframe>
        </div>
    </div>
    <div class="song_info">
        <span id="reqHeading">Requested by:</span>
        <span id="reqLabel">Someone :P</span>
        <div class="player_control_button_panel">
            <button id="playPauseButton" class="SRButton cursor_pointer" onclick=" playPause(); ">Play</button>
            <button class="SRButton cursor_pointer" onclick=" skipSong(lastSong.Id); ">
                <img src="/Content/Images/SR/trash_white.png" width="32" height="32"/>
            </button>
            <button class="SRButton cursor_pointer" onclick=" clearSongs(); ">Clear Queue</button>
        </div>
        <fieldset class="player_foreground_panel">
            <legend>Force player to foreground</legend>
            <div style="margin: 0 auto; width: 105px;">
                <img class="cursor_pointer" src="/Content/Images/SR/youtube.png" width="32" height="32" onclick=" activatePlayer(ID_YOUTUBE); "/>
                <img class="cursor_pointer" src="/Content/Images/SR/soundcloud.png" width="32" height="32" onclick=" activatePlayer(ID_SOUNDCLOUD); "/>
                <img class="cursor_pointer" src="/Content/Images/SR/vimeo.png" width="32" height="32" onclick=" activatePlayer(ID_VIMEO); "/>
            </div>
        </fieldset>
    </div>
    <div id="SongList" style="clear: both; padding-top: 10px;"></div>
</div>