﻿@{
    ViewBag.Title = "Ashwini - Stream";
}

@section Styles {
    <style type="text/css">
        #stream_logo {
            background: url('../../Content/Images/stream_selected.gif');
            width: 100px;
        }

        iframe {
            border: 0;
            margin-left: 10px;
            margin-top: 10px;
        }

        a { text-decoration: none; }

        p {
            font-family: 'Ubuntu';
            margin-left: 10px;
            text-align: center;
        }

        p.small { font-size: 8pt; }
    </style>
}

<div class="main_streamf">
    @*<object bgcolor="#000000" data="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf" height="600" width="940" type="application/x-shockwave-flash">
        <param name="allowFullScreen" value="true"/>
        <param name="allowNetworking" value="all"/>
        <param name="allowScriptAccess" value="always"/>
        <param name="movie" value="//www-cdn.jtvnw.net/swflibs/TwitchPlayer.swf"/>
        <param name="flashvars" value="channel=ashwinitv&amp;auto_play=false&amp;start_volume=25"/>
    </object>*@
    <iframe src="https://player.twitch.tv/?channel=ashwinitv" frameborder="0" allowfullscreen="true" scrolling="no" height="600" width="940"></iframe>
    @*<p>
        To open chat in a new window, click
        <a href="#" onclick=" window.open('http://www.twitch.tv/ashwinitv/chat?popout=', 'AshwiniTV Chat', 'resizable,height=600,width=380'); return false; ">here</a><noscript>
            <a href="http://www.twitch.tv/ashwinitv/chat?popout=" target="_blank">here</a>
        </noscript>.
    </p>
    <p class="small">
        At this time, chat cannot be embedded directly into this page for security reasons.
    </p>*@
    <iframe src="https://www.twitch.tv/ashwinitv/chat?popout=" frameborder="0" scrolling="no" height="380" width="940"></iframe>

    @*<iframe src="https://twitch.tv/ashwinitv/chat?popout=" scrolling="no" height="500" width="940"></iframe>*@
</div>