﻿#tabs-min {
    background: transparent;
    border: none;
}

#tabs-min .ui-widget-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0;
}

#tabs-min .ui-tabs-nav { text-align: center; }

#tabs-min .ui-tabs-nav li {
    display: inline-block;
    float: none;
    font-family: 'Fonarto';
    font-size: 16pt;
    margin: 0;
    top: 0;
}

#tabs-min .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}

/*#tabs-min .ui-tabs-nav .ui-state-active { 
    background: transparent url(/Content/Images/tab_arrow.png) no-repeat bottom center;
    border: none;
}*/

#tabs-min .ui-tabs-nav .ui-state-default a { color: #c0c0c0; }

#tabs-min .ui-tabs-nav .ui-state-active a { color: #594739; }

.ui-accordion-header { font-family: 'Ubuntu', sans-serif; }

.ui-accordion-content { font-family: 'Open Sans', sans-serif; }

table {
    border: 1px solid #AAAAAA;
    border-collapse: collapse;
    border-radius: 4px;
    font-size: 12px;
    width: 100%;
}

tr { border: 1px solid #AAAAAA; }

tr.merged-top { border-bottom: none; }

tr.merged { border: none; }

tr.merged-bottom { border-top: none; }

col.command-list { width: 20%; }

col.param-list { width: 30%; }

col.description { width: auto; }

td {
    /*text-align: center;*/
    padding: 5px;
    vertical-align: middle;
}

td.command-list { text-align: left; }

span.example {
    color: #909090;
    font-style: italic;
}

div.badge {
    display: inline-block;
    height: 18px;
    margin-right: 5px;
    position: relative;
    top: 5px;
    width: 18px;
}

div.badge:after {
    background-color: #FEF4C5;
    border: 1px solid #D4B943;
    border-radius: 2px;
    display: none;
    padding: 2px;
    position: relative;
    right: -30px;
    text-align: center;
    top: 20px;
    width: 150px;
}

div.badge:hover:after { display: block; }

div.broadcaster {
    background: #e71818 url("/Content/Images/badge_broadcaster.svg");
    background-size: 100%;
    border-radius: 2px;
}

div.broadcaster:after { content: "Broadcaster only"; }

div.moderator {
    background: #34AE0A url("/Content/Images/badge_mod.svg");
    background-size: 100%;
    border-radius: 2px;
}

div.moderator:after { content: "Moderator only"; }

div.subscriber {
    background: url("/Content/Images/badge_sub.png");
    background-size: 100%;
    border-radius: 2px;
}

div.subscriber:after { content: "Subscriber only"; }

div.regular {
    background: url("/Content/Images/badge_reg.gif");
    background-size: 100%;
    border-radius: 2px;
}

div.regular:after { content: "Regular only"; }

div.pleb { background: transparent; }

img.info-icon {
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.info-dialog .ui-widget-content { font-size: 10pt; }