﻿.main_slider {
    background-color: white;
    border-radius: 0.5em;
    float: left;
    height: 320px;
    width: 620px;
}

#sliderb_container {
    height: 300px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    width: 600px;
}

.main_stream {
    background-color: white;
    border-radius: 0.5em;
    float: left;
    height: 320px;
    margin-left: 10px;
    width: 330px;
}

#streamWidget {
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    width: 310px;
}

.main_twitter {
    background-color: white;
    border-radius: 0.5em;
    float: left;
    height: 320px;
    margin-left: 10px;
    width: 330px;
}

.main_images {
    background-color: white;
    border-radius: 0.5em;
    float: left;
    height: 670px;
    width: 620px;
}

.latest_image {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}