﻿html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

@font-face {
    font-family: 'Fonarto';
    src: url('Fonts/Fonarto.otf');
}

html {
    background: url('Images/background.jpg') no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center top;
}

a {
    color: #594739;
    text-decoration: underline;
}

h1 {
    font-family: 'Fonarto';
    margin: 0;
    padding: 0;
}

.space {
    height: 10px;
    width: 100%;
}

.left_space {
    float: left;
    height: 100%;
    width: 20px;
}

.float_space {
    float: left;
    height: 10px;
    width: 100%;
}

.main_content {
    margin: 0 auto;
    width: 960px;
}

.main_header {
    background-color: white;
    border-radius: 0.5em;
    height: 120px;
    width: 100%;
}

.main_footer {
    background-color: white;
    border-radius: 0.5em;
    color: #594739;
    float: left;
    font-family: 'Fonarto';
    font-size: 14px;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.main_content_container {
    background-color: white;
    border-radius: 0.5em;
    color: #594739;
    height: auto;
    min-height: 74vh;
    padding: 20px;
    width: 920px;
}

.main_media {
    float: right;
    height: 100%;
    width: 480px;
}

.main_menu {
    background-color: white;
    border-radius: 0.5em;
    height: 70px;
    width: 100%;
}

.main_streamf {
    background-color: white;
    border-radius: 0.5em;
    height: 1140px;
    width: 100%;
}

.follow {
    background: url('Images/ashwini.gif');
    float: left;
    height: 100%;
    width: 480px;
}

.media {
    float: left;
    height: 120px;
    margin-left: 10px;
    width: 110px;
}

#media_fb { background: url('Images/facebook1.png'); }

#media_fb:hover { background: url('Images/facebook2.png'); }

#media_tw { background: url('Images/twitter1.png'); }

#media_tw:hover { background: url('Images/twitter2.png'); }

#media_in { background: url('Images/instagram1.png'); }

#media_in:hover { background: url('Images/instagram2.png'); }

#media_yt { background: url('Images/youtube1.png'); }

#media_yt:hover { background: url('Images/youtube2.png'); }

.menu_block {
    background-position-y: center !important;
    float: left;
    height: 100%;
}

#menu_logo {
    background: url('Images/menu_logo.png') no-repeat;
    float: left;
    width: 180px;
}

#stream_logo {
    background: url('Images/stream.gif');
    width: 100px;
}

#stream_logo:hover { background: url('Images/stream_selected.gif'); }

#donate_logo {
    background: url('Images/donate.gif');
    width: 100px;
}

#donate_logo:hover { background: url('Images/donate_selected.gif'); }

#media_logo {
    background: url('Images/songlist.gif');
    width: 110px;
}

#media_logo:hover { background: url('Images/songlist_selected.gif'); }

#me_logo {
    background: url('Images/me.gif');
    width: 130px;
}

#me_logo:hover { background: url('Images/me_selected.gif'); }

#bot_logo {
    background: url('Images/winibot.gif');
    width: 105px;
}

#bot_logo:hover { background: url('Images/winibot_selected.gif'); }