﻿.SRButton {
    background-color: #181818;
    border: 1px solid #404040;
    border-radius: 0.5em;
    color: white;
    font-family: 'Fonarto';
    height: 50px;
    margin-top: 10px;
    width: 100px;
}

.cursor_pointer { cursor: pointer; }

div.playback_container {
    float: left;
    height: 390px;
    width: 640px;
}

div.song_info {
    border: 1px solid #707070;
    float: right;
    font-family: 'Fonarto';
    height: 368px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    width: 248px;
}

div.player_control_button_panel {
    height: 220px;
    width: 120px;
}

.player_foreground_panel {
    border: 1px solid;
    bottom: 0;
    font-size: 10pt;
    margin: 10px auto;
    position: absolute;
    width: 85%;
}

div.player_button {
    height: 32px;
    width: 32px;
}

div#playback_container { position: relative; }

div.media_player {
    left: 0;
    position: absolute;
    top: 0;
}

td.songlist {
    color: black;
    font-family: 'Fonarto';
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
}

td.warningcell { border-right: none !important; }

td.namecell { border-left: none !important; }

.warning_tooltip {
    background: black;
    border: 2px solid white;
    bottom: 10px;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 70px;
    opacity: 0.9;
    padding: 10px;
    z-index: 99;
}

.note_bar {
    background-color: white;
    border-radius: 0.5em;
    color: #594739;
    font-family: 'Fonarto';
    font-size: 14px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

div.jtable-main-container { font-family: 'Fonarto'; }

div.jtable-main-container > div.jtable-title div.jtable-title-text { font-family: 'Fonarto'; }

div.jtable-main-container > table.jtable > thead th { font-family: 'Fonarto'; }

form.jtable-dialog-form { font-family: 'Fonarto'; }

div.jtable-busy-message { font-family: 'Fonarto'; }

span.jtable-page-size-change > select {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}