﻿@{
    ViewBag.Title = "Ashwini - Song List";
}

@section Styles {
    <style type="text/css">
        #media_logo {
            background: url('../../Content/Images/songlist_selected.gif');
            width: 110px;
        }
    </style>

    @Styles.Render("~/Content/cssSongList")
}

@section Scripts {
    @Scripts.Render("~/bundles/jsSongList")
    @Scripts.Render("~/signalr/hubs")
}

@if (!ViewBag.SREnabled)
{
    <div class="note_bar">
        <span style="margin-top: 3px">Song request is currently off, the song you can hear on stream probably can't be found here.</span>
    </div>
    <div class="space"></div>
}

<div class="main_content_container">
    <div id="SongList" style="font-family: 'Fonarto';"></div>
    <div id="PreviousSongs" style="font-family: 'Fonarto'; margin-top: 50px;"></div>
</div>