﻿<div id="accordion">
    <h3>Song Request Commands</h3>
    <div>
        <table>
            <colgroup>
                <col class="command-list"/>
                <col class="param-list"/>
                <col class="description"/>
            </colgroup>
            <thead>
            <tr>
                <th>Command</th>
                <th>Parameters</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr class="merged-top">
                <td class="command-list" rowspan="3">
                    !songrequest<br/>
                    !sr<br/>
                    !requestsong
                </td>
                <td>
                    <div class="badge broadcaster"></div>
                    on/off
                </td>
                <td>Enables/disables songrequest</td>
            </tr>
            <tr class="merged">
                <td>
                    <div class="badge moderator"></div>
                    ban/unban <span class="example">username</span>
                </td>
                <td>
                    Bans/unbans <span class="example">username</span> from requesting songs
                </td>
            </tr>
            <tr class="merged-bottom">
                <td>
                    <div class="badge pleb"></div>
                    <span class="example">id/url</span>
                </td>
                <td>Requests a song. Argument can be a full url (YT/Soundcloud/Vimeo) or YT video id.</td>
            </tr>
            <tr class="merged-top">
                <td class="command-list" rowspan="7">!srparam</td>
                <td>
                    <div class="badge broadcaster"></div>
                    sub on/off
                </td>
                <td>Enables/disables subscriber-only songrequest</td>
            </tr>
            <tr class="merged">
                <td>
                    <div class="badge broadcaster"></div>
                    points on/off
                </td>
                <td>Enables/disables winipoints requirement for requesting songs</td>
            </tr>
            <tr class="merged">
                <td>
                    <div class="badge broadcaster"></div>
                    skipvote on/off
                </td>
                <td>Enables/disables voting for skipping songs</td>
            </tr>
            <tr class="merged">
                <td>
                    <div class="badge broadcaster"></div>
                    skipvotecount #
                </td>
                <td>Sets required amount of votes to skip current song (default: 5)</td>
            </tr>
            <tr class="merged">
                <td>
                    <div class="badge broadcaster"></div>
                    maxlength #
                </td>
                <td>Sets maximum song length in seconds (default: 8 minutes)</td>
            </tr>
            <tr class="merged">
                <td>
                    <div class="badge broadcaster"></div>
                    capacity #
                </td>
                <td>Sets songrequest queue capacity (default: 40)</td>
            </tr>
            <tr class="merged-bottom">
                <td>
                    <div class="badge broadcaster"></div>
                    maxsongs #
                </td>
                <td>Sets maximum queued songs per user (default: 2)</td>
            </tr>
            <tr>
                <td class="command-list">
                    !resetsongs
                </td>
                <td>
                    <div class="badge broadcaster"></div>
                </td>
                <td>Clears the song queue</td>
            </tr>
            <tr>
                <td>!skipsong</td>
                <td>
                    <div class="badge moderator"></div>
                    <span class="example">[id]</span>
                </td>
                <td>
                    Skips current song, skips song id <span class="example">id</span> if provided.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>