﻿@{
    ViewBag.Title = "Ashwini - WiniBot";
}

@section Styles {
    @Styles.Render("~/Content/Bot.css")

    <style type="text/css">
        #bot_logo {
            background: url('../../Content/Images/winibot_selected.gif');
            width: 105px;
        }
    </style>

}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $("#tabs-min").tabs();
            $("#accordion").accordion({
                heightStyle: "content"
            });
        });
    </script>
}

<div class="main_content_container">
    @*<div id="tabs-min">
        <ul>
            <li><a href="#tabs-commands">Commands</a></li>
            <li><a href="#tabs-stats">Statistics</a></li>
        </ul>
        <div id="tabs-commands">@Html.Partial("~/Views/Bot/Commands.cshtml")</div>
        <div id="tabs-stats">@Html.Partial("~/Views/Bot/Stats.cshtml")</div>
    </div>*@
    <center>
        <span style="font-family: Ubuntu; font-size: 40pt;">Under construction.</span>
        <br/>
        <span style="font-family: Ubuntu; font-size: 15pt;">stay rekt</span>
    </center>
</div>