﻿@{
    ViewBag.Title = "Ashwini";
}

@section Styles {
    @Styles.Render("~/Content/Home.css")
}

@section Scripts {
    @Scripts.Render("~/bundles/jsHome")
}

<div class="main_slider">
    <div class="space"></div>
    <div id="sliderb_container">
        <div u="loading" style="left: 0; position: absolute; top: 0;">
            <div style="background-color: #000; display: block; filter: alpha(opacity=70); height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%;"></div>
            @*<div style="background: url(~/Content/loading.gif) no-repeat center center; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%;"></div>*@
        </div>
        <div u="slides" style="cursor: move; height: 300px; left: 0; overflow: hidden; position: absolute; top: 0; width: 600px;">
            <div>
                <img u="image" src="/Content/Images/Content/slider1.jpg"/>
                <div u="thumb">Thank you for subscribing!♥</div>
            </div>
            <div>
                <img u="image" src="/Content/Images/Content/slider2.jpg"/>
                <div u="thumb">Illumimatti</div>
            </div>
            <div>
                <img u="image" src="/Content/Images/Content/slider3.jpg"/>
                <div u="thumb">Murlocs finally won the game after like 100 losses :D</div>
            </div>
            <div>
                <img u="image" src="/Content/Images/Content/slider4.jpg"/>
                <div u="thumb">AA kittens :D way too cute</div>
            </div>
            <div>
                <img u="image" src="/Content/Images/Content/slider5.jpg"/>
                <div u="thumb">So Matty decided to chill in the bathtub</div>
            </div>
        </div>
        <div u="thumbnavigator" class="sliderb-T" style="bottom: 0; height: 45px; left: 0; position: absolute; width: 600px;">
            <div style="background-color: #000000; display: block; filter: alpha(opacity=40); height: 100%; left: 0; opacity: 0.4; position: absolute; top: 0; width: 100%;">
            </div>
            <div u="slides">
                <div u="prototype" style="HEIGHT: 45px; LEFT: 0; POSITION: absolute; TOP: 0; WIDTH: 600px;">
                    <div u="thumbnailtemplate" style="color: #fff; font-family: verdana; font-size: 20px; font-weight: normal; HEIGHT: 100%; LEFT: 0; line-height: 45px; padding-left: 10px; POSITION: absolute; TOP: 0; WIDTH: 100%;"></div>
                </div>
            </div>
        </div>
        <div u="navigator" class="jssorb01" style="bottom: 16px; position: absolute; right: 10px;">
            <div u="prototype" style="HEIGHT: 12px; POSITION: absolute; WIDTH: 12px;"></div>
        </div>

    </div>
</div>
<div class="main_stream">
    <a href="@Url.Action("Index", "Stream")" title="Stream">
        <div id="streamWidget"></div>
    </a>
</div>
<div class="float_space"></div>
<div class="main_images">
    <h1 style="color: #594739; font-size: 42px; margin-left: 10px;">
        Latest Videos
    </h1>
    <a href="http://www.twitch.tv/ashwinitv/c/4642741" target="_blank" title="Best Headshot Ever!!">
        <img class="latest_image" alt="Best Headshot Ever!!" src="/Content/Images/Content/headshot.jpg"/>
    </a>
    <a href="http://www.twitch.tv/ashwinitv/c/4809997" target="_blank" title="Woman Driving Skills">
        <img class="latest_image" alt="Woman Driving Skills" src="/Content/Images/Content/driving.jpg"/>
    </a>
    <a href="http://www.twitch.tv/ashwinitv/c/4671527" target="_blank" title="Spidahhh">
        <img class="latest_image" alt="Spider" src="/Content/Images/Content/spider.jpg"/>
    </a>
    <a href="http://www.twitch.tv/ashwinitv/b/601665847" target="_blank" title="Chillerino Hearthstonerino">
        <img class="latest_image" alt="Chillerino Hearthstonerino" src="/Content/Images/Content/hearthstone.jpg"/>
    </a>
</div>
<div class="main_twitter">
    @*<a class="twitter-timeline" href="https://twitter.com/ashwinitv" data-link-color="#594739" height="670px" data-widget-id="546744536857600000">Tweets by Ashwinitv</a>*@
    <a class="twitter-timeline" data-lang="en" data-width="330" data-height="670" href="https://twitter.com/Ashwinitv">Tweets by Ashwinitv</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
