﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="FxnfjrKV04QoFSdxMcrL79RRtm5AE9xMX5JGeJHhQ3U"/>
    <meta name="_globalsign-domain-verification" content="wOvDfnIMp5mOJbD84AoWywxQXsYKI1wzxYNcdn6ds_" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Imports.css")
    @Styles.Render("~/Content/cssMain")
    @RenderSection("Styles", false)

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", false)

    <script>
        (function(i, s, o, g, r, a, m) {
            i["GoogleAnalyticsObject"] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");

        ga("create", "UA-49024039-2", "auto");
        ga("send", "pageview");

    </script>
</head>
<body>
<div class="main_content">
    <div class="space"></div>
    <div class="main_header">
        <div class="follow"></div>
        <div class="main_media">
            <a href="https://www.facebook.com/ashwinitv69" target="_blank" title="Facebook">
                <div class="media" id="media_fb"></div>
            </a>
            <a href="https://twitter.com/ashwinitv" target="_blank" title="Twitter">
                <div class="media" id="media_tw"></div>
            </a>
            <a href="https://www.instagram.com/ashweenitv/" target="_blank" title="Instagram">
                <div class="media" id="media_in"></div>
            </a>
            <a href="https://www.youtube.com/channel/UCJt3qSKWNVQnOF1l9Miqc3Q" target="_blank" title="Youtube">
                <div class="media" id="media_yt"></div>
            </a>
        </div>
    </div>
    <div class="space"></div>
    <div class="main_menu">
        <a href="@Url.Action("Index", "Home")" title="Home">
            <div class="menu_block" id="menu_logo"></div>
        </a>
        <div class="left_space"></div>
        <a href="@Url.Action("Index", "Stream")" title="Stream">
            <div class="menu_block" id="stream_logo"></div>
        </a>
        <div class="left_space"></div>
        <a href="https://www.twitchalerts.com/donate/ashwinitv" target="_blank" title="Donate">
            <div class="menu_block" id="donate_logo"></div>
        </a>
        <div class="left_space"></div>
        <a href="@Url.Action("Index", "SongList")" title="Song List">
            <div class="menu_block" id="media_logo"></div>
        </a>
        <div class="left_space"></div>
        <a href="@Url.Action("Index", "Bot")" title="Winibot">
            <div class="menu_block" id="bot_logo"></div>
        </a>
    </div>
    <div class="space"></div>
    @RenderBody()
    <div class="float_space"></div>
    <div class="main_footer">
        All rights reserved © Ashwini.tv 2015
        <br/>
        Site created by Nightshock. Original graphics design by Neon Bio.
        @*<a href="@Url.Action("Copyright", "Home")">Copyright acknowledgements</a>*@
    </div>
</div>
</body>
</html>